/* .searchInput {
    display: none;
    height: 30px;
    border-radius: 10px;
    border: 1.5px solid black;
}

.appear {
    display: block;
}

.shadow {
    box-shadow: 10px 10px 19px black;
}


.highlight {
    background-color: rgba(220, 155, 109, 0.102);
}


.hide {
    display: none;
} */


body {
    text-align: center;
}

.dark {
    background-color: black;
    color: white;
}