body {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}



/* .container {
    background-color: rgb(223, 220, 220);
    padding: 200px;
} */



#startButton, #resetButton {
    padding: 20px;
}


#timer {
    text-align: center;
    margin-bottom: 20px;
}